.container {
  display: flex;
  flex-wrap: wrap;
}

.tagButton {
  position: relative;
  background-color: #3498db; /* Use your preferred shade of blue */
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  color: #fff; /* White text for better contrast */
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;

  /* Background Image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Gradient Overlay */
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  }

  /* Hover effect */
  &:hover {
    background-color: #0993f0; /* Darker shade on hover */
    transform: scale(1.05); /* Slightly scale on hover for a subtle effect */
  }
}
